<section class="nested-fields">
  <div class="row mt-2 d-flex flex-row align-items-center justify-content-between">
    <div class='d-flex flex-column justify-content-center'>
      <div class='d-flex flex-row'>
        <span class="li-name">
          <%= f.input :county_id, collection: @counties, prompt: "County or equivalent", include_blank: "", label: false, input_html: { class: "my-0" } %>
        </span>
        <div class="li-quantity mx-2">
          <%= f.input :client_share, placeholder: "Client Share", label: false, input_html: { class: "quantity my-0", onchange: 'calculate_client_share_total()'} %>
        </div>
      </div>
    </div>

     <%= delete_partner_county_button f %>
  </div>
  <hr class="partner-county-separator">
</section>
